.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 3rem !important;
  text-decoration: none;
  color: #fff;
  font-weight: 800;

  img {
    width: 60px !important;
    height: 60px;
  }
}
